
@model IEnumerable<databaseProject.Models.Employee>

@{
    ViewBag.Title = "employeeSalarySearch";
}

<h2>employeeSalarySearch</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract_worker.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office_worker.Super_Id)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contract_worker.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office_worker.Super_Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Employee_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Employee_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Employee_Id })
            </td>
        </tr>
    }

</table>
